.pretitle {
  display: block;
  margin-bottom: 2px;
  width: 120px;

  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.4px;
  color: $colorAccent;
}

.about {
  &__title {
    margin: 0 0 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $mainDark;
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
      color: $colorAccent;
      text-decoration: underline;
    }

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;

      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__adress {
    margin-bottom: 24px;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 6 / 12;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $mainDark;
    margin: 0 0 16px;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $colorAccent;
    }
  }

  &__work-hours {
    display: flex;
    gap: 24px;
  }

  &__time {
    margin-bottom: 16px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    margin: 0 0 8px;

    &--bold {
      font-weight: 700;
    }

    &--closed {
      margin: 0;
    }
  }
}
