.icon {
  --icon-width: 18px;

  display: block;
  width: var(--icon-width);
  height: var(--icon-width);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    --icon-width: 24px;
  }

  &--menu {
    background-image: url(../img/icons/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../img/icons/menu_hover.svg);
      transform: scale(1.3);
    }
  }

  &--phone {
    background-image: url(../img/icons/Icon-Phone.svg);
  }

  &--close {
    background-image: url(../img/icons/cross.svg);
  }
}
