.page {
  font-family: Cinzel, serif;
  scroll-behavior: smooth;

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 100px;

    @include on-tablet {
      margin-bottom: 140px;
    }
  }

  &__section-title {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $mainDark;
    text-align: center;
    cursor: pointer;

    margin: 0 0 48px;

    &:hover {
      color: $colorAccent;
      text-decoration: underline;
    }

    &--subtitle {
      display: block;

      @extend %deafult-fonts;

      text-align: center;
      color: $mainDark;

      width: 50%;
      max-width: 325px;
      margin: 8px auto 0;
    }
  }
}
