@mixin on-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin grid-tablet {
  grid-template-columns: repeat(6, 1fr);
  column-gap: 24px;
}

@mixin grid-desktop {
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

@mixin grid-mobile {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

@mixin top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%button-fonts {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
}

%deafult-fonts {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
